<launch>

  <machine name="local_alt" address="localhost" default="true" />
   



     
  <node name="RatSLAMLocalViewCells" pkg="ratslam_ros" type="ratslam_lv" args="$(find ratslam_ros)/config/config_my_robot.txt.in _image_transport:=compressed" cwd="node" required="true" />
  <node name="RatSLAMPoseCells" pkg="ratslam_ros" type="ratslam_pc" args="$(find ratslam_ros)/config/config_my_robot.txt.in _image_transport:=compressed" cwd="node" required="true" />
  <node name="RatSLAMExperienceMap" pkg="ratslam_ros" type="ratslam_em" args="$(find ratslam_ros)/config/config_my_robot.txt.in _image_transport:=compressed" cwd="node" required="true" />
  <node name="RatSLAMVisualOdometry" pkg="ratslam_ros" type="ratslam_vo" args="$(find ratslam_ros)/config/config_my_robot.txt.in _image_transport:=compressed" cwd="node" required="true" />   
        
 <!--node pkg="rqt_plot" type="rqt_plot" name="plot_vt_em" args="/my_robot/LocalView/Template/current_id,/my_robot/PoseCell/TopologicalAction/dest_id" /--> 
  <node pkg="rosbag" type="record" name="record" args="/my_robot/ExperienceMap/Map /my_robot/ExperienceMap/RobotPose /my_robot/LocalView/Template /my_robot/PoseCell/TopologicalAction -O ratslam_out.bag" />

</launch>

